# docker
DOCKER_USER=ah0404
DOCKER_REPOSITORY=senior-challenge

# fastapi
APP_VERSION=local
APP_EXPOSE_PORT=8000
SECRET_KEY=change-me-local-secret
COOKIE_DOMAIN=localhost
SUPPORT_EMAIL=support@example.com

# db
DB_HOST=mysql
DB_PORT=3306
DB_EXPOSE_PORT=3306
DB_USER=ozcoding
DB_PASSWORD=pw1234
DB_ROOT_PASSWORD=Password123@!
DB_NAME=ai_health

# optional nginx overlay
NGINX_EXPOSE_PORT=80
