# docker
DOCKER_USER=ah0404
DOCKER_REPOSITORY=senior-challenge

# fastapi
APP_VERSION=v1.0.0
APP_EXPOSE_PORT=8000
SECRET_KEY=change-me-prod-secret
COOKIE_DOMAIN=localhost
SUPPORT_EMAIL=support@CHANGE-ME.com

# db
DB_HOST=mysql
DB_PORT=3306
DB_EXPOSE_PORT=3306
DB_USER=ozcoding
DB_PASSWORD=Password1234@
DB_ROOT_PASSWORD=Ozcoding1234@
DB_NAME=ai_health

# nginx
NGINX_EXPOSE_PORT=80
NGINX_SSL_EXPOSE_PORT=443
